{% extends 'home/base.html' %}
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}
{% block container %}
    <div class="glide">
        <!-- 背景遮罩 -->
        <div class="backdrop"></div>
        <!-- 轮播图片 -->
        <img src="{{ url_for('static', filename='images/things.jpg') }}" alt="" style="height: 450px"/>
    </div>

    <div class="ai-module-demo ai-module-section js-module-section">
        <div class="ai-module-header">
            功能演示
            <!----></div>
        <div class="ai-module-demo-container">
            <div class="tech-recognition" images="" videos="">
                <div class="ai-container">
                    <div class="tech-recognition-content">
                        <div class="tech-recognition-scan" style="display: none;"></div>
                        <div class="tech-img-content">
                            <div class="tech-canvas-container">
                                <div class="demo-loading" style="display: none;">
                                    <div class="demo-loading-img"></div>
                                    <div class="demo-loading-text">图片上传中</div>
                                </div>
                                <div class="demo-data-error-msg" style="display: none;"><img
                                        src="//aip.bdstatic.com/portal-pc-node/dist/1610627249473/images/error/error.png"
                                        alt="" class="error-img">
                                    <div class="error-text"></div>
                                </div>
                                <div class="image-input">
                                    <div class="image-input-container"><input type="text" spallcheck="false"
                                                                              placeholder="请输入网络图片URL"
                                                                              class="image-url">
                                        <button class="image-button">检测</button>
                                        <div class="image-text">或</div>
                                        <label class="image-local"><input type="file"
                                                                          accept="image/png, image/bmp, image/jpg, image/jpeg"
                                                                          class="image-local-input">
                                            本地上传
                                        </label></div>
                                    <div class="image-notice">
                                        此处仅供功能展示，图片类型支持PNG、JPG、JPEG、BMP，大小不超过4M。该接口实际能力的图片格式及大小要求以接口文档为准
                                    </div>
                                </div>
                                <div class="ai-summary">
                                    <div class="ai-finegrained" style="display: none">
                                        <div class="ai-finegrained-title">识别结果</div>
                                        <table class="ai-finegrained-show">
                                            <tr class="ai-finegrained-item">
                                                <td class="ai-finegrained-item-name">黄金猎犬</td>
                                                <td class="ai-finegrained-item-length">
                                                    <div class="ai-finegrained-item-length-inner"
                                                         style="width: 88%;"></div>
                                                </td>
                                                <td class="ai-finegrained-item-degree">
                                                    0.88
                                                </td>
                                            </tr>
                                            <tr class="ai-finegrained-item">
                                                <td class="ai-finegrained-item-name">金毛/金毛寻回犬</td>
                                                <td class="ai-finegrained-item-length">
                                                    <div class="ai-finegrained-item-length-inner"
                                                         style="width: 69.6%;"></div>
                                                </td>
                                                <td class="ai-finegrained-item-degree">
                                                    0.696
                                                </td>
                                            </tr>
                                            <tr class="ai-finegrained-item">
                                                <td class="ai-finegrained-item-name">金毛犬</td>
                                                <td class="ai-finegrained-item-length">
                                                    <div class="ai-finegrained-item-length-inner"
                                                         style="width: 51.6%;"></div>
                                                </td>
                                                <td class="ai-finegrained-item-degree">
                                                    0.516
                                                </td>
                                            </tr>
                                            <tr class="ai-finegrained-item">
                                                <td class="ai-finegrained-item-name">赛级金毛</td>
                                                <td class="ai-finegrained-item-length">
                                                    <div class="ai-finegrained-item-length-inner"
                                                         style="width: 33.3%;"></div>
                                                </td>
                                                <td class="ai-finegrained-item-degree">
                                                    0.333
                                                </td>
                                            </tr>
                                            <tr class="ai-finegrained-item">
                                                <td class="ai-finegrained-item-name">金毛狗</td>
                                                <td class="ai-finegrained-item-length">
                                                    <div class="ai-finegrained-item-length-inner"
                                                         style="width: 12.1%;"></div>
                                                </td>
                                                <td class="ai-finegrained-item-degree">
                                                    0.121
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <canvas class="demo-canvas-centerlize" width="1680" height="1048"
                                        style="transform: translate(-50%, -50%) scale(0.5);"></canvas>
                            </div>
                            <div class="image-select">
                                <div class="image-select-item">
                                    <img src="http://aip.bdstatic.com/portal-pc-node/dist/1610627249473/images/technology/imagerecognition/general/1.jpg">
                                </div>
                                <div class="image-select-item">
                                    <img src="http://aip.bdstatic.com/portal-pc-node/dist/1610627249473/images/technology/imagerecognition/general/2.jpg">
                                </div>
                                <div class="image-select-item">
                                    <img src="http://aip.bdstatic.com/portal-pc-node/dist/1610627249473/images/technology/imagerecognition/general/3.jpg">
                                </div>
                                <div class="image-select-item">
                                    <img src="http://aip.bdstatic.com/portal-pc-node/dist/1610627249473/images/technology/imagerecognition/general/4.jpg">
                                </div>
                                <div class="image-select-item">
                                    <img src="http://aip.bdstatic.com/portal-pc-node/dist/1610627249473/images/technology/imagerecognition/general/5.jpg">
                                </div>
                            </div>
                        </div>
                        <div class="demo-json">
                            <div class="demo-collapse">
                                <div class="demo-collapse-item">
                                    <div class="demo-collapse-item-title demo-json-title">
                                        识别结果
                                    </div>
                                    <div class="demo-collapse-item-cnt" style="height: 504px; opacity: 1;">
                                        <ul class="result-item">

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script src="{{ url_for('static', filename='js/jquery-3.5.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/recognition.js') }}"></script>
{% endblock %}